@{
    ViewBag.Title = "Reporte Mensual";
}

<h2>Reporte Mensual</h2>
<h3>@ViewBag.CurrentMonth</h3>
<a href="">Mes Anterior</a> | <a href="">Imprimir</a>

<hr />

<h4>Horas por Cliente</h4>
<div class="table-container" style="margin-top:20px;">
    <table class="table table-striped table-responsive">
        <tr>
            <th>Cliente</th>
            <th>Tickets de Usuario</th>
            <th>Tickets de Oficina</th>
            <th>Total de Horas</th>
            <th>Horas Restantes</th>            
        </tr>
        <tr>
            <td>Cliente 1</td>
            <td>3</td>
            <td>2</td>
            <td>9</td>
            <td>11</td>
        </tr>
        <tr>
            <td>Cliente 2</td>
            <td>5</td>
            <td>7</td>
            <td>11</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Cliente 3</td>
            <td>11</td>
            <td>3</td>
            <td>24</td>
            <td>-4</td>
        </tr>       
    </table>
</div>

<hr />

<h4>Horas por Colaborador</h4>
<div class="table-container" style="margin-top:20px;">
    <table class="table table-striped table-responsive">
        <tr>
            <th>Colaborador</th>
            <th>Horas trabajadas</th>
            <th>Detalle</th>            
        </tr>
        <tr>            
            <td>Pedro Juarez</td>
            <td>36</td>
            <td>
                <ul>
                    <li>
                        21 sep - Cliente X - 2 hrs. Reinicié el router
                    </li>                
                    <li>                 
                        22 sep - Cliente X - 1 hrs. Fui a checar que el router jalara
                    </li>                 
                    <li>                  
                        23 sep - Cliente Y - 2 hrs. Se revisó el conmutador y se reinició porque estaba fallando.
                    </li>                
                    <li>                 
                        21 sep - Cliente Y - 2 hrs. Se tuvieron que cambiar los teléfonos de varias líneas.
                    </li>               
                    <li>                
                        21 sep - Cliente X - 2 hrs. Reinicié el router
                    </li>                 
                    <li>                  
                        22 sep - Cliente X - 1 hrs. Fui a checar que el router jalara
                    </li>                
                    <li>                 
                        23 sep - Cliente Y - 2 hrs. Se revisó el conmutador y se reinició porque estaba fallando.
                    </li>
                    <li>
                        21 sep - Cliente Y - 2 hrs. Se tuvieron que cambiar los teléfonos de varias líneas.
                    </li>
                </ul>
            </td>            
        </tr>    
        <tr>
            <td>Juan Perez</td>
            <td>36</td>
            <td>
                <ul>
                    <li>
                        21 sep - Cliente X - 2 hrs. Reinicié el router
                    </li>
                    <li>
                        22 sep - Cliente X - 1 hrs. Fui a checar que el router jalara
                    </li>
                    <li>
                        23 sep - Cliente Y - 2 hrs. Se revisó el conmutador y se reinició porque estaba fallando.
                    </li>
                    <li>
                        21 sep - Cliente Y - 2 hrs. Se tuvieron que cambiar los teléfonos de varias líneas.
                    </li>
                    <li>
                        21 sep - Cliente X - 2 hrs. Reinicié el router
                    </li>
                    <li>
                        22 sep - Cliente X - 1 hrs. Fui a checar que el router jalara
                    </li>
                    <li>
                        23 sep - Cliente Y - 2 hrs. Se revisó el conmutador y se reinició porque estaba fallando.
                    </li>
                    <li>
                        21 sep - Cliente Y - 2 hrs. Se tuvieron que cambiar los teléfonos de varias líneas.
                    </li>
                </ul>
            </td>
        </tr>   <tr>
    <td>Francisco Ochoa</td>
    <td>36</td>
    <td>
        <ul>
            <li>
                21 sep - Cliente X - 2 hrs. Reinicié el router
            </li>
            <li>
                22 sep - Cliente X - 1 hrs. Fui a checar que el router jalara
            </li>
            <li>
                23 sep - Cliente Y - 2 hrs. Se revisó el conmutador y se reinició porque estaba fallando.
            </li>
            <li>
                21 sep - Cliente Y - 2 hrs. Se tuvieron que cambiar los teléfonos de varias líneas.
            </li>
            <li>
                21 sep - Cliente X - 2 hrs. Reinicié el router
            </li>
            <li>
                22 sep - Cliente X - 1 hrs. Fui a checar que el router jalara
            </li>
            <li>
                23 sep - Cliente Y - 2 hrs. Se revisó el conmutador y se reinició porque estaba fallando.
            </li>
            <li>
                21 sep - Cliente Y - 2 hrs. Se tuvieron que cambiar los teléfonos de varias líneas.
            </li>
        </ul>
    </td>
</tr>   
        <tr>
    <td>Pablo de la Garza</td>
    <td>36</td>
    <td>
        <ul>
            <li>
                21 sep - Cliente X - 2 hrs. Reinicié el router
            </li>
            <li>
                22 sep - Cliente X - 1 hrs. Fui a checar que el router jalara
            </li>
            <li>
                23 sep - Cliente Y - 2 hrs. Se revisó el conmutador y se reinició porque estaba fallando.
            </li>
            <li>
                21 sep - Cliente Y - 2 hrs. Se tuvieron que cambiar los teléfonos de varias líneas.
            </li>
            <li>
                21 sep - Cliente X - 2 hrs. Reinicié el router
            </li>
            <li>
                22 sep - Cliente X - 1 hrs. Fui a checar que el router jalara
            </li>
            <li>
                23 sep - Cliente Y - 2 hrs. Se revisó el conmutador y se reinició porque estaba fallando.
            </li>
            <li>
                21 sep - Cliente Y - 2 hrs. Se tuvieron que cambiar los teléfonos de varias líneas.
            </li>
        </ul>
    </td>
</tr>   
    </table>
</div>